<h1>{{message}}</h1>
<div>
    Ilam इलाम is a municipality of Ilam District, which is in the hilly region of Mechi zone, in the Eastern Development Region of Nepal. 
    <br/>
    <p>
    Ilam also acts as the headquarters of Ilam District and Mechi zone. Geographically it lies in the hill region which is mostly known as Mahabharata range. 
    It is also one of the important town in Mechi zone and one of the major place in Nepal for tea-production.
    It is famous for natural scenery and landscapes, tea production, and diverse agricultural economy. 
    It is one of the major horticultural crop production districts of Nepal.
    </p>
    <p>
        Antu Pond, reflecting the color of its surroundings
        Ilam municipality is sub-divided in 9 different wards, the major governmental and district office lies in ward number 1 and ward number 2.
        Ilam also is a major hub for transportation and communication for VDC that lies in the upper part of the district.
    </p>
    <div>
        <img src="http://bit.ly/2yjD60e" style="height: 350px; width: 550px;"/>
    </div>
</div>