<h1>Information regarding the hotel</h1>
<table style="border: 1px solid black">
    <tr>
        <td>Id</td>
        <td>{{hotel.Id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{hotel.Name}}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{hotel.Location}}</td>
    </tr>
    <tr>
        <td>Rate</td>
        <td>{{hotel.Rate}}</td>
    </tr>
    <tr>
        <td>Contact</td>
        <td>{{hotel.Contact}}</td>
    </tr>
</table>
<a href="hotels">Back to the hotel list</a>