<h1>{{info}}</h1>
<div>
    <ul>
        <li>
            <p>Bhadrapur Airport:<br/>
                45 min flight from Kathmandu</p>
            The fare is around Rs. 5000<br/>
            From Bhadrapur Airport, Illam is 2 hrs far with vechicle transportaion.<br/>
            It costs around Rs. 200 to get to Ilam on public transportation and around 1500 on car.

        </li>
        <li>
            <p>Biratnagar Airport:<br/>
                The fare is around Rs. 3500<br/>
                35 min flight from Kathmandu
                From Biratnagar Airport, Illam is 5 hrs far with vechicle transportaion and around 3000 on car.</p>
        </li>
        <li>
            <p>Tourist Bus:<br/>
                17+ hrs from Kathmandu
                From various travel agencies in Kathmandu, you can purchase bus tickets for Ilam. The fare is around Rs. 2100
                
            </p>
        </li>
    </ul>
</div>